* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(235, 235, 235);
  min-height: 100vh;
}
.menu {
  background-color: rgb(246, 231, 242);
  height: 150px;
  padding-left: 50px;
  padding-top: 30px;
  display: flex;
  gap: 50px;
  width: 100%;
}
.pokedex {
  height: 70%;
  width: 70%;
  padding-bottom: 20px;
}
.container {
  background-color: white;
  width: 100%;
  height: auto;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
a {
  position: relative;
}
a:before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 100%;
  background: linear-gradient(
    to right,
    #fd004c,
    #fe9000,
    #fff020,
    #3edf4b,
    #3363ff,
    #b102b7
  );
  background-size: 200% 100%;

  transition: 1.5s;
}
a:hover::before {
  background-position: 100% 0;
}

.Footer {
  background-color: rgb(246, 231, 242);

  height: 300px;
  width: 100%;
  margin: 0;
  clear: both;
  position: relative;
  bottom: 0;
}

.card {
  background-color: #fbfbfb;
  border: 1px solid #c6c6c6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: 200px;
  display: grid;
  height: min-content;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  transition: all 0.3s ease-in-out;
}
.card img {
  width: 80%;
  height: 80%;
  align-self: center;
  justify-self: center;
}
.card h2 {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
  margin-top: 0;
  justify-self: center;
}

.card p {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  justify-self: center;
  color: #666;
}

.card ul {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
  list-style: none;
  justify-self: center;
  padding: 0;
  margin: 0;
}

.card li {
  margin: 5px;
  background-color: #c6c6c6;
}

.card li:last-child {
  border-bottom: none;
}

h1 {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
  color: #333;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.pokemon-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  padding: 20px;
  text-align: center;
}

.pokemon-card img {
  width: 100px;
  height: 100px;
}

.pokemon-card h2 {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  color: #333;
}

.pokemon-card p {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-size: 1em;
  color: #777;
}

.pokemon-abilities,
.pokemon-encounters {
  margin-top: 10px;
  text-align: left;
}

.pokemon-abilities h3,
.pokemon-encounters h3 {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 10px 0 5px;
}

.pokemon-abilities ul,
.pokemon-encounters ul {
  list-style-type: none;
  padding-left: 0;
}

.pokemon-abilities li,
.pokemon-encounters li {
  margin-bottom: 5px;
}
